version: 2.1

executors:
  ruby-executor:
    docker:
      - image: cimg/ruby:3.3.3-node
    working_directory: ~/repo

jobs:
  rubocop:
    executor: ruby-executor
    steps:
      - checkout
      - run: bundle install
      - run: bundle exec rubocop

  rspec:
    executor: ruby-executor
    steps:
      - checkout
      - run: bundle install
      - run: bundle exec rspec

workflows:
  version: 2
  test_only:
    jobs:
      - rubocop
      - rspec:
          requires:
            - rubocop
