.overlay-link {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}

.overlay-text {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay-link:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.overlay-link:hover .overlay-text {
  opacity: 1;
}

.role-btn {
  background-color: white;
  color: #0d6efd; /* Bootstrap primary */
  border: 1px solid #0d6efd;
  transition: all 0.2s;
}

.role-btn:hover,
.role-btn:focus {
  background-color: #0d6efd;
  color: white;
  text-decoration: none;
}

.role-btn.active {
  background-color: #0d6efd;
  color: white;
}

